<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block extrahead %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  {% block extrajs %}{% endblock %}
</body>
</html>
